<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indibase.conconi" >

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name=".provider.ContentProvider"
            android:authorities="com.indibase.provider.conconi"
            android:exported="false" >
        </provider>

        <activity
            android:name=".app.AdvicesActivity"
            android:label="@string/title_activity_advices" >
        </activity>
        <activity
            android:name=".app.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".app.CyclingActivity"
            android:label="@string/title_activity_cycling" >
        </activity>
        <activity
            android:name=".app.DeviceScanActivity"
            android:label="@string/title_activity_device_scan"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".test_activities.DatabaseActivity"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name=".app.FinishedTestActivity"
            android:label="@string/title_activity_finished_test" >
        </activity>
        <activity
            android:name=".app.PresentationActivity"
            android:label="@string/title_activity_test_data_presentation"
            android:theme="@android:style/Theme.NoTitleBar">
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity
            android:name=".app.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.InfoDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            android:label="@string/title_activity_info_detail" >
        </activity>
    </application>

</manifest>
