<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.indibase.conconi" >

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.ContentProvider"
            android:authorities="com.indibase.provider.conconi"
            android:exported="false" >
        </provider>

        <activity
            android:name=".app.AdvicesActivity"
            android:label="@string/title_activity_advices" >
        </activity>
        <activity
            android:name=".app.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".app.CyclingActivity"
            android:label="@string/title_activity_cycling" >
        </activity>
        <activity
            android:name=".app.DeviceScanActivity"
            android:label="@string/title_activity_device_scan" >
        </activity>

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".test_activities.DatabaseActivity"
            android:label="@string/title_activity_database" >
        </activity>
    </application>

</manifest>
